/*@import "~@fullcalendar/core/main.css";*/
/*@import "~@fullcalendar/timegrid/main.css";*/
.fc-unthemed td.fc-today,
.fc-today {
    background: #fcf8e3;
}
.fc-current {
    background: rgba(243, 248, 255, 1) !important;
}
.fc-time-grid .fc-slats td {
    /* height: 4.5em; */
}
.fc-widget-header tr th {
    padding: 0;
}
.fc-widget-header tr th > span {
    display: block;
}
.fc-widget-header tr th > span > span {
    line-height: 1;
    padding: 6px 0;
    display: block;
}
.fc-widget-header tr th > span > span.fc-current {
    background: rgba(243, 248, 255, 1);
}
.fc-ltr .fc-axis {
    color: rgba(156, 178, 205, 1);
}
.fc-button-primary {
    background: rgba(255, 255, 255, 1);
    border-radius: 11px;
    border-color: #ffffff;
    color: rgba(164, 185, 210, 1);
}
.fc-button-primary:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: rgba(164, 185, 210, 1);
}
.fc-button-primary:disabled {
    background: rgba(255, 255, 255, 1);
    border-radius: 11px;
    border-color: #ffffff;
    color: rgba(39, 49, 66, 1);
}
.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: rgba(164, 185, 210, 1);
}
.fc-button-primary:not(:disabled):active:focus,
.fc-button-primary:not(:disabled).fc-button-active:focus {
    box-shadow: none;
}
.fc-button-primary:focus {
    box-shadow: none;
}
.fc-view-container {
    background: #ffffff;
}
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: rgba(247, 248, 252, 1);
}

.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: rgba(164, 185, 210, 1);
}
.fc-event {
    border: 1px solid rgba(55, 136, 216, 0.6);
}
.fc-event, .fc-event-dot {
    background-color: #ffffff;
}
.fc-time-grid-event .fc-content {
    margin-top: -1px;
}
.fc-time-grid-event.fc-event .fc-time {
    padding: 2px;
    color: rgb(55, 136, 216);
    background: rgba(55, 136, 216, 0.4);
}
.fc-time-grid-event .fc-title {
    padding: 2px;
    color: rgb(49, 56, 83);
}
.fc-time-grid-event.fc-event .fc-time span:nth-child(2) {
    float: right;
}
.fc-segement,
.fc-segement:hover {
    background: #ffffff;
    color: rgba(49, 56, 83, 1);
}

